 {% extends 'base.html' %} {% block title %}Home {% endblock %} {% block content %} {% if user.is_authenticated %}
<div class="jumbotron">

    <h1 class="display-2">Newspaper app</h1>
    <p class="lead">A Newspaper website built with Django.</p>
    <h1 class="display-4">Hi {{ user.username }}!</h1>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href=" {% url 'logout' %}" role="button">
Logout</a>
        <a class="btn btn-primary btn-lg" href=" {% url 'article_list' %}" role="button">
View All Articles</a>
    </p>
</div>
<br>
<h3>Top Stories Around Tamil Nadu</h3>
<br>
<ul class="list-group">
    {% for new in news %}
    <li class="list-group-item">{{ new }}</li>
    {% endfor %}
</ul>
<br>
<h3>Top Stories Around India</h3>
<br> {% for article in articles %}
<div class="card">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ article.urlToImage }}" class="card-img" alt="Image not available">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.description }}</p>
                <p class="card-text"><small class="text-muted">Published on {{ article.publishedAt }}</small></p>
                <a class="btn btn-primary" href="{{ article.url }}" role="button">Read More...</a>heroku git:remote -a harish-news-company
            </div>
        </div>
    </div>
</div>
<br> {% endfor %} {% else %}
<div class="jumbotron">
    <h1 class="display-2">Newspaper app</h1>
    <p class="lead">A Newspaper website built with Django.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href=" {% url 'article_list' %}" role="button">
View All Articles</a>
    </p>
</div>
<p>You are not logged in</p>
<a href=" {% url 'login' %}">login</a> I
<a href=" {% url 'signup' %}">signup</a> {% endif %} {% endblock %}